<body  style="text-align:right; float:right">
<div style="text-align: right;">
    ברוכים הבאים ל <p ></p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="text-align:right; float:right">
 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['skarim']">למאגר הסקרים</a><span class="sr-only">(current)</span>
          <a class="nav-item nav-link" [routerLink]="['addSeker']">לסקר חדש</a>
          <a class="nav-item nav-link" [routerLink]="['results']">לצפיה בתוצאות</a>

      </div>
   </div>
</nav>
<br>

<router-outlet></router-outlet>
</body>
