<body  style="text-align:right; float:right">
<p>   שלום לאתר שלנו</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" [routerLink]="['']">  דיסקרייט <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"  [routerLink]="['login']">כניסה</a>
        <a class="nav-item nav-link"  [routerLink]="['register']">הרשמה</a>
        <a class="nav-item nav-link"  [routerLink]="['asked']">נסקר</a>
        <a class="nav-item nav-link"  [routerLink]="['private']">סוקר</a>
        <a class="nav-item nav-link"  [routerLink]="['']">יציאה</a>
      </div>
    </div>
  </nav>
  <br>
<!-- <app-login></app-login>
<app-regiser></app-regiser> -->

<router-outlet></router-outlet>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</body>