<div class="form-wrapper">
    <h1>הרשם</h1>
    <br>
    <div id="idregiste" style="align-items:center;">
        <label>שם משתמש</label><br>
        <input type="text" placeholder="שם משתמש" [(ngModel)]="newUser.name_user"><br>
        <label> סיסמא</label><br>
        <input type="password" placeholder="סיסמא" [(ngModel)]="newUser.password_user"><br>
        <label> אימייל</label><br>
        <input type="text" placeholder="אימייל" [(ngModel)]="newUser.email_user"><br> <br>
        <button class="btn-color" type="submit" (click)="OnRegister()">הרשמה</button>
        <br><br>
    </div>
</div>