<div class="form-wrapper form-wrapper-xlarge">
    <h1 style="width: 200px">סקרים</h1>
    <br />
    <mat-icon class="add-icon" (click)="openDialog();">add_circle_outline</mat-icon>
    <br />

    <table class="table table-striped" *ngIf="skarim.length > 0; else noContent">
        <thead>
            <tr>
                <th>שם</th>
                <th>תאריך התחלה</th>
                <th>תאריך סיום</th>
                <th>לוגו</th>

                <th>צבע רקע</th>
                <th>צבע כתב</th>
                <th>פעולות</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let seker of skarim">
                <td>{{ seker.name_skr }}</td>
                <td>{{ seker.startdate_skr | date: "dd/MM/yyyy" }}</td>
                <td>{{ seker.lastdate_skr | date: "dd/MM/yyyy" }}</td>
                <td><img [src]="baseUrl + seker.logo_skr" width="60px" /></td>
                <td>
                    <span class="color" [style.background-color]="seker.bgcolor_skr"></span>
                </td>
                <td>
                    <span class="color" [style.background-color]="seker.fountcolor_skr"></span>
                </td>
                <td>
                    <mat-icon style="cursor: pointer;" (click)="openDialog(seker.kod_skr)">edit</mat-icon>
                    <mat-icon style="cursor: pointer; margin-right: 10px;" [routerLink]="['/questions/' + seker.kod_skr]">more_vert</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noContent>
        <span class="no-content">לא נמצאו תוצאות</span>
    </ng-template>
</div>