<body  style="text-align:right; float:right;margin-top: 130px;position: static;width: 100%;">
<div>
<h3>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: static,fixed;">
 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="padding-left:630px;" [routerLink]="['mySkarim']"> סקרים שענית</a>
        <a class="nav-item nav-link"  [routerLink]="['answerSeker']">סקרים שמחכים לך</a>
      </div>
    </div>
  </nav>
</h3>
</div>
  <router-outlet></router-outlet>
</body>