<div class="form-wrapper-modal">

    <h1 *ngIf="data && data.sekerId;else:newSeker">עדכון סקר</h1>
    <ng-template #newSeker>
        <h1>הוספת סקר</h1>
    </ng-template>
    <br>
    <label>שם</label>
    <br><input type="text" [(ngModel)]="seker.name_skr" required>
    <small class="error" *ngIf="!seker.name_skr"> חובה להזין שם</small>
    <label>תאריך התחלה</label>
    <br><input [ngModel]="seker.startdate_skr | date:'yyyy-MM-dd'" #dateF="ngModel" (ngModelChange)="seker.startdate_skr = $event" type="date" name="dateF" required min="{{todaysdate|date:'yyyy-MM-dd'}}" max="{{seker.lastdate_skr|date:'yyyy-MM-dd'}}">
    <small class="error" *ngIf="!seker.startdate_skr"> חובה להזין תאריך</small>
    <label>תאריך סיום</label>
    <br><input [ngModel]="seker.lastdate_skr | date:'yyyy-MM-dd'" #dateT="ngModel" (ngModelChange)="seker.lastdate_skr = $event" type="date" name="dateT" required min="{{seker.startdate_skr|date:'yyyy-MM-dd'}}">
    <small class="error" *ngIf="!seker.lastdate_skr"> חובה להזין תאריך</small>
    <label>לוגו</label>
    <div class="custom-file-upload-wrapper">

        <div class="custom-file-upload-name-wrapper">
            <label class="custom-file-upload-name" *ngIf="file">{{file.name}}</label>
            <label class="custom-file-upload-name" *ngIf="!file">לא נבחרה תמונה</label>
        </div>
        <label class="custom-file-upload" for="file-input">
              <mat-icon>insert_drive_file</mat-icon>
              <input type="file"/>
              טען תמונה
            </label>
    </div>

    <input id="file-input" type="file" (change)="onSelectFile($event)" accept="image/*" />
    <img *ngIf="data.sekerId && seker && seker.logo_skr" [src]="serviceBase + seker.logo_skr" width="100" height="auto">
    <img *ngIf="(!data.sekerId || !seker|| !seker.logo_skr) && url" [src]="url" width="100" height="auto">
    <br>


    <label style="margin-left: 10px;">צבע רקע </label> <br>
    <input type="color" [(ngModel)]="seker.bgcolor_skr">
    <label style="margin-left: 10px;">צבע כתב</label> <br>
    <input type="color" [(ngModel)]="seker.fountcolor_skr">
    <br>
    <button type="submit" class="btn-color" [disabled]="!seker.name_skr" (click)="addSeker()">שמור</button>
</div>