<body  style="text-align:right; float:right">
<p>add-seker works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
          <a class="nav-item nav-link"  [routerLink]="['createSeker']"> הגדרות סקר</a>
          <a class="nav-item nav-link"  [routerLink]="['createQuestion']"> להוספת שאלה</a>
          <!-- <a class="nav-item nav-link"  [routerLink]="['']">סיום הסקר </a> -->
          <input class="nav-item nav-link" type="submit" (click)="save()" value="סיום הסקר " >

      </div>
   </div>
</nav>


<router-outlet></router-outlet>
</body>